CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.o

PFPLD/cvtcaffe/onnx2caffe/__pycache__/

PFPLD/pfpld_ncnn/.idea/

PFPLD/.idea/

*.pyc

tmp_test/

PFPLD/models/checkpoint/model-wing/

PFPLD/models/checkpoint/tensorboard/
